**/.idea
**/*.egg-info
*.swp
*.pyc
*.bak
*.log
*.idea
*python-version
.project
**/dist
**/build
*.spec
cython/**
.DS_Store
*.DS_Store*
.cache
.coverage
.~*
~$*

**/.vscode
public/*
**/coverage
**/.nyc_output
*.bkp
*.orig
**/.pytest_cache
